<div>
    <h4 class="text-center">M&oacute;dulo HttpClient</h4>
</div>
@if(arquitecturaHttpClientBasicaOn){
    <div class="row mt-4">
        <h5 class="text-primary text-center col-12">Fundamentos del m&oacute;dulo <code class="font-weight-bold">HttpClient</code> de Angular</h5>
        <h5 class="text-secondary text-center mt-3 col-12">Componentes  
            <pre class="d-inline">consulta-persona-http</pre> 
            , <pre class="d-inline">consulta-personas-http</pre>  
            , <pre class="d-inline">explorar-http-client</pre>  
            y <pre class="d-inline">despl-error</pre>. <br>
        </h5>
        <div class="text-secondary text-center mb-3 col-12">
            Usan el api y tratan respuestas as&iacute;ncronas.
        </div>
    </div>
    <div class="text-info text-muted mt-2 text-info text-justify mb-2">
        <small>Ejemplo de implementaci&oacute;n de <strong class="text-danger">peticiones GET HTTP a un servidor</strong>.
            <ul>
                <li>Se inyecta un servicio de datos que hace las peticiones y <strong class="text-danger">maneja los errores</strong> que provienen
                    del servidor o de la red.</li>
                <li>El procesamiento as&iacute;ncrono usa <i>observables</i>, que
                    son manipulados por medio del <i>API</i> de <code>RxJs</code>.</li>
                <li>El componente que despliega los mensajes de error, usa m&eacute;todos
                    del <i>Lifecycle event sequence</i>(M&eacute;todos Hook) de Angular, para manejar adecuadamente su estado.
                </li>
            </ul>
            
        </small>
    </div>
    <div class="row pt-3 mb-4" >
        <div class="col-12 "> 
            <div class="border border-warning p-2">
                <p class="text-secondary">La siguiente informaci&oacute;n viene de un servidor que 
                    es consultado mediante <i>Http</i>
                </p>
                @if(ejmGetPersonasOn){
                    <div>
                        <!--app-consulta-personas-http></app-consulta-personas-http-->
                    </div>
                }
                @if(ejmGetPersonaOn && ejmGetPersonasOn){
                    <hr class="border-warning">
                }
                @if(ejmGetPersonaOn){
                    <div class="mb-4">
                        <app-consulta-persona-http></app-consulta-persona-http>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr class="my-4">
}

