<div class="row">

    <div class="col-sm-4">
        <h6 class="mt-3">Despliegue de primer divisible por 5 de una lista aleatoria, usando <code>first</code></h6>
        <div class="mt-3 d-flex justify-content-center">
            <button id="btnFirst" class="btn btn-secondary" (click)="testFirst()">Probar first</button>
        </div>
    </div>
   
    <div class="col-sm-4">
        <h6 class="mt-3">Despliegue de &uacute;ltimo divisible por 7 de una lista aleatoria, usando <code>last</code></h6>
        <div class="mt-3 d-flex justify-content-center">
            <button id="btnLast" class="btn btn-info" (click)="testLast(7)">Probar last</button>
        </div>
    </div>
   
    <div class="col-sm-4">
        <h6 class="mt-3">Despliegue de &uacute;ltimos 3 divisibles por 7 de una lista aleatoria, usando <code>takeLast</code></h6>
        <div class="mt-3 d-flex justify-content-center">
            <button id="btnTakeLast" class="btn btn-success" (click)="testTakeLast(7,3)">Probar takeLast</button>
        </div>
    </div>
  
</div>
<div id="consolaRxjs7" class="rounded bg-dark text-white mt-3 p-2">

</div>