<div>
    <nav>
        <ul>
            <li>
                <a routerLink="/rutaA">Cajas que cambian de color</a>
            </li>
            <li>
                <a routerLink="/rutaB">Selector de Color</a>
            </li>
            <li>
                <a routerLink="/submenuRxJs">Demo RxJs (Men&uacute; Subordinado)</a>
            </li>
            <li>
                <a routerLink="/">Ninguna (caja vac&iacute;a)</a>
            </li>
            <li>
                <a routerLink="/inexistente">Ruta no definida</a>
            </li>
        </ul>
    </nav>
</div>
<div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
