<div class="accordion" id="{{id_acordeon}}">
    @for(ngTemplateI of templates; track i; let i = $index){
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                  [attr.data-bs-target]="'#' + idsElementos[i]" 
                  aria-expanded="true" 
                  [attr.aria-controls]="idsElementos[i]">
            {{nombresElementos[i]}}
          </button>
        </h2>
  
        <div id="{{idsElementos[i]}}" class="accordion-collapse collapse"
              [class.show]="mostrarElemAlInicio[i]" 
              [attr.data-bs-parent]="'#' + id_acordeon">
          <div class="accordion-body">
            <ng-container [ngTemplateOutlet]="ngTemplateI"></ng-container>
          </div>
        </div>
   
      </div>
    }
  </div>