#divTonoAct{
    border: 2px solid gainsboro; 
    border-radius: 4px; 
 
    margin-top: 4mm; 
    height:1cm; 
    color:white; 
    
    line-height: 1cm; 
    text-align: center; 
    font-weight: bold;
}
#div01{
    background-color: hsl(250,10%,90%);
}