<div class="container">
  <h2 class="text-center my-4 text-primary">{{titulo}}</h2>

  @if(ejm_directiva_for_interpolacion_listaB5_on){
    <div class="row gx-5">
      <h3 class="text-success text-center">ListaB5</h3>
      <p class="text-secondary text-center">Ejemplo de uso de directivas for y de interpolación</p>
      <div class="mt-3 text-primary col bg-primary bg-opacity-10 p-2 rounded">
        <app-lista-b5></app-lista-b5>
      </div>
      <div class="mt-3 text-primary col bg-info  bg-opacity-10 p-2 ms-1 rounded">
        <app-lista-b5></app-lista-b5>
      </div>
      
      <div class="row my-3">
        <small class="text-muted">
            Ejemplo del uso del 
            <span class="font-italic fw-bold text-danger">interpolation binding</span>. 
            <ul>
              <li>
                Cada instancia del componente lee un arreglo declarado en su controlador y muestra sus valores 
                usando expresiones del tipo 
                <code class="fw-bold" ngNonBindable>{{ opciones[0] }}</code> y
                <code class="fw-bold" ngNonBindable>{{ opcionI }} </code> 
              </li>
              <li>
                Se usa la directiva de control 
                <code class="fw-bold">
                  &#64;for( opcionI of opciones2; track opcionI; let idx = $index, esPar = $even)
                </code>
              </li>
              <li>
                Se hace uso de diversas clases del 
                <span class="font-italic">framework </span>  
                <code>Bootstrap 5</code>.
              </li>
            </ul>
        </small>
      </div>

      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_for_estado_componente_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary">
        Hacer un componente que despliegue un grupo de cajas que cambien de color al recibir 
        un click. Debe evitarse que el click genere efectos adicionales sobre las cajas, como 
        activar la selección de texto.
      </p>
      <div class="mt-3 text-primary col bg-primary bg-opacity-10 p-2 rounded">
        <app-cajas-que-cambian-color></app-cajas-que-cambian-color>
      </div>
      <hr class="mt-3 mb-3">
    </div>   
  }

  @if(ejm_param_entrada_y_classBinding_seleccionador_on){
    <div class="row gx-5">
      <h3 class="text-success text-center">Seleccionador</h3>
      <p class="text-secondary"> Ejemplo de componente que recibe parámetros desde el componente que lo
        invoca. También muestra el uso de valores por defecto, en caso de que 
        sea invocado sin dar valores a sus parámetros.
      </p>
      <div class="mt-3 text-primary col bg-secondary  bg-opacity-10 p-2 ms-1 rounded
                 d-flex flex-column justify-content-center">
        <app-seleccionador paramNombre="taller" 
        paramEtiquetas="Cocina,Electricidad,Pintura,Artes Plasticas" 
        paramValores="C,E,P,AP"
        paramConBorde="true"
        paramMostrarValores="true"></app-seleccionador>
      </div>
      <div class="mt-3 text-primary col bg-info  bg-opacity-25 p-2 ms-1 rounded
        d-flex flex-column justify-content-center">
        <app-seleccionador></app-seleccionador>
      </div>
      <div class="mt-3 text-primary col bg-primary  bg-opacity-25 p-2 ms-1 rounded
        d-flex flex-column justify-content-center">
        <app-seleccionador  paramNombre="servicio" 
        paramEtiquetas="Desayunos,Comidas,Uniformes,Biblioteca,Sala Computo" 
        paramValores="D,C,U,B,SC"
        paramConBorde="true"
        paramMostrarValores="false"
        paramTipo ="checkbox"></app-seleccionador>
      </div>
      
      <div>
        <small class="text-muted">
          El componente permite personalizar:
          <ol>
            <li>
              Borde 
            </li>
            <li>
              El despliegue de valores de cada opci&oacute;n
            </li>
            <li>
              Si se desea usar radio botones o botones de tipo chekbox 
            </li>
            <li>
              El nombre del campo
            </li>
            <li>
              Los valores posibles a elegir
            </li>
          </ol> 
          Utiliza
          <span class="font-italic font-weight-bold text-danger">directivas estructurales</span>. 
          En este caso: <br>
          <ul>
            <li>
              <code class="font-weight-bold">&#64;for</code> (with index), 
            </li>
            <li>
              <code class="font-weight-bold">&#64;if</code> y 
            </li>
            <li>
              <code class="font-weight-bold">&#64;else</code>.
            </li>
          </ul>
          Se utiliza 
          <span class="font-italic font-weight-bold">class binding</span>
          para el dibujo condicional del borde.<br>
          En general, el componente explota el 
          <strong>renderizado condicional</strong> 
          con base en datos residentes en su controlador.
        </small>
        <hr class="mt-3 mb-3">
      </div>


    </div>
  }

  @if(ejr_params_carrusel_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Despliegue un par de instancias de un componente Carrusel,
        que implemente alguna implementación de Bootstrap. El componente debe poder recibir
        como parámetros la lista de nombres de archivos de imagen que se deplegarán con el 
        mecionado carrusel.
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-carrusel paramPrimeraImagen="1"></app-ejr-carrusel>
      </div>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-carrusel paramPrimeraImagen="2"
         paramImagenes="DSC_8857.JPG,DSC_8865.JPG,DSC_8867.JPG,DSC_8870.JPG,DSC_8876.JPG,DSC_9042.JPG">
        </app-ejr-carrusel>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_binding_bidireccional_ngModel_editorPersonas_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">EditorPersonas</h3>
      <p class="text-secondary"> Ejemplo de componente que implementa un binding
        bidireccional usando ngModel.
      </p>
      <div class="mt-3 text-primary col-12 col-sm-6 col-md-4 bg-secondary  bg-opacity-10 p-2 ms-1 rounded">
        <app-editor-personas></app-editor-personas>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_binding_bidireccional_CajaTxtContCarac_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Caja de texto que cuenta y limita la longitud de un mensaje. 
        Elabore 3 instancias en las que por medio de parámetros se pueda configurar el tamaño
        máximo de mensaje permitido. La caja debe mostrar la cantidad de caracteres capturados,
        el porcentaje del límite cubierto en negro, amarillo o rojo según se tenga una cantidad
        de caracteres por hast el 60% (negro), por arriba y hasta el 80% (amarillo) y por encima
        (rojo).
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-caja-txt-cont-carac paramLimiteMsg="256"></app-ejr-caja-txt-cont-carac>
      </div>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-caja-txt-cont-carac paramLimiteMsg="128"></app-ejr-caja-txt-cont-carac>
      </div>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-caja-txt-cont-carac></app-ejr-caja-txt-cont-carac>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_elStyleBindingYelEventoClick_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">SelecColor</h3>
      <p class="text-secondary"> Ejemplo de componente que integra ngModel, style binding, parámetros de entrada y
        manejo de eventos
      </p>
      <div class="mt-3 col-4 px-0">
        <app-selec-color numCajas="12"></app-selec-color>
      </div>
      <div class="mt-3 col-4 px-0">
        <app-selec-color numCajas="12"></app-selec-color>
      </div>
      <div class="mt-3 col-4 px-0">
        <app-selec-color numCajas="12"></app-selec-color>
      </div>
      <div class="mt-3 col-12 px-0">
        <app-selec-color numCajas="36"></app-selec-color>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_componentesQueDevuelvenValores_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">ContenedorSelectAlternativa/SelectAlternativa</h3>
      <p class="text-secondary"> Ejemplo de componente que devuelve los valores seleccionados a través de él
      </p>
      <div class="mt-3 col px-1">
        <app-contenedor-select-alternativa></app-contenedor-select-alternativa>
      </div>

      <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
          <ul>
            <li>
              <strong>El componente de selecci&oacute;n recibe objetos</strong> que provienen del componente (usando el decorador  
              <code class="font-weight-bold">&#64;Input()</code>).
            </li>
            <li>
              El componente <strong>publica los cambios de valor</strong> por medio del uso de un objeto emisor de eventos
              <code class="font-weight-bold">EventEmitter&lt;string&gt;</code> y del decorador
              <code class="font-weight-bold">&#64;Output</code>.
            </li>
            <li>
              Tambi&eacute;n <strong>se escucha el evento </strong> 
              publicado por el componente. &Eacute;sto le permite recibir los valores devueltos por el componente
              (el seleccionador).
            </li>
          </ul>
        </small>
    </div>

      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_componentesQueDevuelvenVals_listbox_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Contenedor que anida un listbox
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-contenedor-list-box></app-ejr-contenedor-list-box>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_EnvioDeHtmlAcomponente_toggler_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">Toggler</h3>
      <p class="text-secondary"> Ejemplo de componente que recibe c&oacute;digo html como entrada
      </p>
      <div class="mt-3 col px-1">
        <app-toggler  etiquetaUno="Destinos" etiquetaDos="Instrucciones">
          <div uno>
            <span class="text-primary  fw-bold">Destinos disponibles:</span>
            <ol>
                <li>
                    Acapulco
                </li>
                <li>
                    Veracruz
                </li>
                <li>
                    Chiapas
                </li>
            </ol>
          </div>
          <div dos>
              <div class="text-warning fw-bold mb-2">C&oacute;mo obtener mayor informaci&oacute;n</div>
              Para explorar los destinos puede enviarnos un correo con el destino de inter&eacute;s 
              y sus preferencias en t&eacute;rminos de actividades o visitas y nosotros lo contactaremos 
              proporcion&aacute;ndole informaci&oacute;n detallada.
          </div>
        </app-toggler>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_EnvioDeHtmlAcomponente_acordeon_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Acorde&oacute;n: Componente que expande o contrae contenidos recibidos
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-acordeon pElementos="Elemento 1,Elemento 2,Elemento 3,Otro contenido"
                      pExpandir="true,false,false,false">
          <div uno> 
            <strong>This is the first item's accordion body.</strong> 
            It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.
          </div>
          <div dos> 
            <strong>This is the second item's accordion body.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div tres> 
            <strong>This is the third item's accordion body.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div cuatro> 
            <strong>Este es el cuarto item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                  
          </div>
        </app-acordeon>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_AttributeDirective_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">ContenedorDemoDirectiva y Lupa</h3>
      <p class="text-secondary"> Ejemplo de uso de Attribute Directives
      </p>
      <div class="mt-3 col px-1">
        <app-contenedor-demo-directiva>
          <h3>Integración de MongoDB con Spring Boot</h3>
          <small>
            <p>MongoDB se puede integrar con Spring Boot de varias maneras. 
              Aquí hay algunas de las formas más comunes:</p>
            
            <ol>
              <li lupa>
                <strong>Spring Data MongoDB:</strong> 
                Es la forma más popular y recomendada para integrar MongoDB con Spring Boot. 
                Spring Data MongoDB proporciona una abstracción para trabajar con MongoDB, 
                lo que facilita la escritura de repositorios y consultas.
              </li>
              
              <li>
                <strong>MongoTemplate:</strong> 
                Es una API de nivel inferior proporcionada por Spring Data MongoDB que te permite 
                interactuar con MongoDB utilizando operaciones CRUD y consultas más directamente.
              </li>
              
              <li>
                <strong>Embedded MongoDB:</strong> 
                Para pruebas unitarias y de integración, puedes usar una instancia de MongoDB 
                incrustada en lugar de una instancia de MongoDB real.
              </li>
              
              <li>
                <strong lupa>MongoDB Reactive:</strong> 
                Si estás construyendo una aplicación reactiva usando Spring WebFlux, puedes utilizar el 
                soporte reactivos proporcionado por Spring Data MongoDB.
              </li>
              
              <li>
                <strong>Configuración manual:</strong> 
                Aunque no es la forma más recomendada, siempre puedes configurar y gestionar las conexiones 
                a MongoDB manualmente, utilizando el controlador oficial de MongoDB para Java.
              </li>
            </ol>
            
            <p lupa>Cuando integras MongoDB con Spring Boot, es común combinar las operaciones de MongoDB con 
              otros componentes de Spring Boot, como Spring Security para la autenticación, Spring Web 
              para exponer endpoints RESTful, y más.</p>          
          </small>
        </app-contenedor-demo-directiva>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_InyeccionDeElementosDOMdeVistaEnClase_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">ContenedorDemoInyVista y Tarjeta</h3>
      <p class="text-secondary"> Ejemplo de inyecci&oacute;n de elementos DOM de la Vista, en el componente
      </p>
      <div class="mt-3 col px-1">
        <app-contenedor-demo-iny-vista></app-contenedor-demo-iny-vista>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_EnvioDeHtmlAcomponente_acordeonAvz_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio Avanzado</h3>
      <p class="text-secondary"> Acorde&oacute;nAvz: Componente que expande o contrae una cantidad arbitraria de contenidos recibidos
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-acordeon-avz pElementos="Elemento 1,Elemento 2,Elemento 3,Otro contenido,texto A,texto B,texto C"
                      pExpandir="true,false,false,false,true,false">
          <div *PlantillaNg> <!-- El asterisco a la izquiera de la directiva de identificación de NgTemplate (PlantillaNg) es un atajo para no declarar explicitamente tags "ng-template"-->
            <strong>Este es el primer item del cuerpo del acordeón.</strong> 
            It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.
          </div>
          <div *PlantillaNg> 
            <strong>Este es el segundo item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div *PlantillaNg> 
            <strong>Este es el tercer item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div *PlantillaNg> 
            <strong>Este es el cuarto item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                  
          </div>
          @for(textoI of textos;track k;let k=$index){
            <ng-template PlantillaNg>
              <div class="alert alert-warning" role="alert">
                {{textoI}}
              </div>
            </ng-template>
          }
        </app-acordeon-avz>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_InyeccionDependencias2_Instances1service_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">ConsultaPersonas (dos instancias) y ProvDatPersonaMockService</h3>
      <p class="text-secondary"> Ejemplo de inyecci&oacute;n de servicios
      </p>
      <div class="row  mt-4">
        <div class="col-sm-5 border border-primary p-2 rounded">
            <app-consulta-personas></app-consulta-personas>
        </div>
        <div class="col-sm-5 border border-danger p-2 ms-3 rounded">
            <app-consulta-personas></app-consulta-personas>
        </div>
      </div>
      <div class="text-info text-muted mt-3 text-info text-justify">
      <small>
          Ejemplo de implementaci&oacute;n de un <strong class="text-danger">servicio que es inyectado en las instancias de un componente
          </strong>.<br>
          <ul>
              <li>
                  Cada <strong>instancia</strong> del componente de consulta <strong>solicita</strong>, con un <i class="text-primary">constructor</i> 
                  que recibe un objeto del mismo tipo que el del servicio solicitado, <strong>la inyecci&oacute;n de un servicio</strong> 
                  de datos (un arreglo de personas).
              </li>
              <li>
                  Hay un servicio <i class="text-primary">ProvDatPersonaService</i> que es <strong>instanciado por</strong> el inyector de dependencias de Angular
              </li>
              <li>
                  El servicio est&aacute; decorado con <code class="font-weight-bold">&#64;Injectable(&#123; providedIn: 'root'&#125;)</code>, 
                  que indica que debe haber <strong>una instacia por aplicaci&oacute;n</strong>.
              </li>
              <li>
                  El componente puede configurar la creaci&oacute;n de <strong>una instancia por cada instancia del componente</strong>
                  agregando a su decoración <code>&#64;Component</code>, un campo <i class="text-primary">providers</i> como el siguiente: <code class="font-weight-bold">
                  providers: [ ProvDatPersonaService ]</code>. 
              </li>
              <li>
                  El servicio puede servir como una <strong>memoria compartida</strong> entre distintas instancias de uno o m&aacute;s componentes.
              </li>
          </ul>
        </small>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_JerarquiaDeInyeccion_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">
        ContenedorDemoJerarIny, ConsultaPersonas (dos instancias) y servicios ProvDatPersonaMockService y ProvDatPersonaMock2Service
      </h3>
      <p class="text-secondary"> Ejemplo de Jerarqu&iacute;a de inyecci&oacute;n de servicios
      </p>
      <div class="row  mt-4">
        <div class="col-sm-12">
          <app-contenedor-demo-jerar-iny></app-contenedor-demo-jerar-iny>
        </div>
      </div>
      <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
            Ejemplo de <strong class="text-danger">servicio que es inyectado a nivel 
            aplicaci&oacute;n, m&oacute;dulo, componente y componente anidado
            </strong>.<br>
            <ul>
                <li>
                    Hay <strong>dos servicios</strong> que implementan  <i class="text-primary">IServDatPersonas</i>:
                    <i class="text-primary">ProvDatPersonasService</i> y <i class="text-primary">Prov2DatPersonasService</i>
                </li>
                <li>
                    Los servicio est&aacute;n decorados con <code class="font-weight-bold">&#64;Injectable(&#123; providedIn: 'root'&#125;)</code>, 
                    que indica que debe haber <strong>una instacia por aplicaci&oacute;n</strong>.
                </li>
                <li>
                    Hay un componente <i class="text-primary">contenedor</i> que <strong>anida dos instancias</strong> 
                    del componente <i class="text-primary">consulta-personas</i>.
                </li>
                <li>
                    <strong>Se definen providers</strong> en <i class="text-primary">AppModule</i>, 
                    <i class="text-primary">ContenedorComponent</i> y <i class="text-primary">ConsultaPersonasComponent</i> 
                    para <strong>probar la jerarqu&iacute;a de Inyecci&oacute;n</strong>  de dependencias
                </li>
                <li>
                    Se prueba la <strong>inyecci&oacute;n de una implementaci&oacute;n en particular</strong> agregando
                    a  <i>providers</i> lo siguiente: <code class="font-weight-bold">
                    providers: [&#123; provide:ProvDatPersonasService, useClass:Prov2DatPersonasService&#125; ]</code>. El campo <code>provide</code>
                    especifica <strong>el tipo</strong> y el campo <code>useClass</code>, <strong>la implementaci&oacute;n</strong> deseada.          
                </li>
            </ul>
        </small>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_ServicioComoMotorDeCoreografia_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">
        ContenedorDemoMotorCoreo, ConsultaPersonas (dos instancias) y servicios ProvDatPersonaMockService y ProvDatPersonaMock2Service
      </h3>
      <p class="text-secondary"> Ejemplo de Servicio como Motor de Coreografía
      </p>
      <div class="row  mt-4">
        <div class="col-sm-12">
          <app-contenedor-demo-motor-coreo notificarBajas="true"></app-contenedor-demo-motor-coreo>
        </div>
      </div>

      <div class="text-info text-muted mt-3 text-info text-justify">
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_HerenciaDeServiciosYuseExisting_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">
        DropDown 
        <span class="text-secondary">y servicios</span>
         IGestorOpcionesService 
        <span class="text-secondary">(abstracto),</span> 
        GestorOpcionesDemoIDService, GestorOpcionesLibroService
      </h3>
      <p class="text-secondary"> Ejemplo de componente que usa una implementación u otra de un mismo servicio.
      </p>
      <div class="row  mt-4">
        <div class="col-sm-12">
            <app-drop-down></app-drop-down>
        </div>
    </div>

    <div class="text-info text-muted mt-3 text-info text-justify">
      <small>
        Ejemplo de componente que <strong class="text-danger">usa una implementaci&oacute;n u otra
            de un mismo servicio 
        </strong>.<br>
        <ul>
            <li>
                Inyecta un <strong>servicio abstracto y configura la implementaci&oacute;n
                a utilizar</strong>, como una referencia a un servicio publicado en un inyector root, utilizando
                <i class="text-primary">useExisting</i> en <i class="text-primary">providers</i>
            </li>
            <li>
                Esta estrategia suele usarse cuando se desea <strong>estrechar la visibilidad</strong> del componente 
                <strong>sobre los m&eacute;todos que ofrece un servicio</strong> inyectado en &eacute;l. 
            </li>
        </ul>
      </small>
    </div>
    <hr class="mt-3 mb-3">
  </div>
  }

  @if(ejm_PersonalizandoBusquedaDeInyectores_on){
    <div class="row"  id="InDep04">
        <h5 class="text-primary">Personalizando la B&uacute;squeda de Inyectores: Componentes 
            <pre class="d-inline">drop-down</pre>,  
            <pre class="d-inline">caja-demo-host</pre>,  
                y servicios 
            <pre class="d-inline">GestorOpcionesLibro</pre>, 
            <pre class="d-inline">GestorOpcionesDemoID</pre> y
            <pre class="d-inline">GestorOpcionesAnimal</pre> 
        </h5>
    </div>
    <div class="mt-4">
        <div class="d-inline-block">
            <app-drop-down></app-drop-down>
        </div>
        <div class="ms-1 mb-1 d-inline-block">
            <app-caja-demo-host>
                <app-drop-down></app-drop-down>
            </app-caja-demo-host>
        </div>
        <div class="ms-1 d-inline-block">
            <app-caja-demo-host>
                <app-drop-down></app-drop-down>
            </app-caja-demo-host>
        </div>
        <div class="ms-1 d-inline-block">
            <app-caja-demo-host>
                <app-drop-down></app-drop-down>
            </app-caja-demo-host>
        </div>
    </div>
        
    <div class="text-info text-muted mt-3 text-info text-justify">
      <small>
        Demo de <strong class="text-danger">personalización de b&uacute;squeda de inyectores 
         </strong>.<br>
        <ul>
            <li>
                Se crean 3 instancias de un componente que anida un bot&oacute;n DropDown y proyecta otro
            </li>
            <li>
                Modifica el componente drop-down con decoradores en la inyecci&oacute;n de su servicio de datos: 
                <i class="text-primary">&#64;Host</i>, <i class="text-primary">&#64;SkipSelf</i> y <i class="text-primary">&#64;Optional</i>.
            </li>
            <li>
                <i class="text-primary">&#64;Host </i>  <strong>termina</strong> la b&uacute;squeda en el elemento Host (el componente en donde se da la inyecci&oacute;n o
                el elemento contenedor en el caso de proyección)
            </li>
            <li>
                <i class="text-primary">&#64;SkipSelf </i>  <strong>inicia</strong> la b&uacute;squeda en el siguiente elemento superior
                al componente en donde se da la inyecci&oacute;n
            </li>
            <li>
                El demo est&aacute; listo para que se comenten y descomenten decoraciones y providers a fin de comprender
                el efecto del uso de decoradores de personalizaci&oacute;n de b&uacute;squeda de inyectores.
            </li>
            <li>
                Se agreg&oacute; un arreglo <i class="text-primary">viewProviders</i> al componente caja-demo-host para tener distintos contenidos
                en los dropdowns seg&uacute;n sea cada uno, anidado o proyectado 
            </li>
        </ul>
      </small>

    </div>
    <hr class="mt-3 mb-3">
  }

  @if(ejm_InyectorPersonalizado_on){
    <div class="row"  id="InDep04">
      <h5 class="text-primary">Inyectores personalizados: Componente 
          <pre class="d-inline text-success">titulo</pre>  
      </h5>
    </div>
    <div class="sm-12 mt-4 border border-secondary rounded">
      <app-titulo titSecundario="Ejemplo de Uso de Inyectores Personalizados"></app-titulo>
    </div>
    <div class="sm-12 mt-4 border border-warning rounded">
      <app-caja-demo-inyector></app-caja-demo-inyector>
    </div>

    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
      <small>
          <ul>
              <li>
                  Se inyecta un objeto que incluye el nombre de la organizaci&oacute;n y el logo, por medio
                  de <i class="text-primary">InjectionToken&lt;object&gt;</i>
              </li>
              <li>
                  El inyector se incluye en <i class="text-primary">inyectoresExtra.ts</i>
              </li>
              <li>
                  Se inyecta el componente <i class="text-primary">titulo</i> con el decorador <i class="text-primary">&#64;Inject</i>
              </li>
              <li>
                  Se ejemplifica el uso de <i class="text-primary">useFactory</i> en el arreglo <i  class="text-primary">providers </i>para cambiar 
                  la funci&oacute;n que instancia el objeto a inyectar
              </li>
          </ul>
      </small>
    </div>
    <hr class="my-4">
  }

  @if(ejm_IntroduccionAlosObservablesYelRxJs_on){
      <div class="row">
          <h5 class="text-primary">Introducci&oacute;n a Observables y RxJs: Componente 
              <pre class="d-inline">test-rxjs01</pre> 
          </h5>
      </div>
      <div class="row justify-content-center mt-4">
          <div class="col-sm-10">
              <app-test-rxjs01></app-test-rxjs01>
          </div>
      </div>
      <div class="text-info text-muted mt-3 text-info text-justify mt-5">
          <small>
              <ul>
                  <li>
                      Se <strong>crea un <i class="text-primary">observable</i> sobre los clicks de un bot&oacute;n</strong>
                  </li>
                  <li>
                      Se <strong>genera una suscripci&oacute;n sobre el observable</strong>. La suscripci&oacute;n 
                      cuenta los clicks. El contador se muestra en el componente.
                  </li>
                  <li>
                      Se puede <strong>cancelar la suscripci&oacute;n</strong> usando el bot&oacute;n correspondiente
                  </li>
              </ul>
          </small>
      </div>
   
      <hr class="my-4">
  
  }

  @if(ejm_FuncBasicasCrearObservablesAdaptadores_on){
    <div>
      <div class="row">
          <h5 class="text-primary">Funciones b&aacute;sicas de Creaci&oacute;n de Observables (Adaptadores): Componente 
              <pre class="d-inline">test-rxjs02</pre> 
          </h5>
      </div>
      <div class="row justify-content-center mt-4">
          <div class="col-sm-10">
              <app-test-rxjs02></app-test-rxjs02>
          </div>
      </div>
      <div class="text-info text-muted mt-3 text-info text-justify mt-5">
          <small>
              <ul>
                  <li>
                      Los botones 'Hacer click' y 'Limpiar' tienen su observable que "escucha" los clicks.
                  </li>
                  <li>
                      Hay un observable,<strong>creado con <i class="text-primary">interval</i>, que genera pulsos num&eacute;ricos</strong> (en secuencia) cada 1500 milisegundos.
                  </li>
                  <li>
                      Una suscripci&oacute;n agrega elementos a la zona de resultados con cada click en el bot&oacute;n "hacer click".
                  </li>
                  <li>
                      La otra suscripci&oacute;n limpia la zona de resultados con cada click en el bot&oacute;n "limpiar".
                  </li>
                  <li>
                      Una suscripción al observable de los pulsos num&eacute;ricos actualiza el color vigente. 
                  </li>
                  <li>
                      El color vigente es usado para colorear el tono actual y los elementos nuevos en la zona de resultados.
                  </li>
              </ul>
          </small>
      </div>

      <hr class="my-4">
    </div>
  }

  @if(ejm_FuncionBindCallback_on){
  <div>
    <div class="row">
        <h5 class="text-primary">Funci&oacute;n <pre class="d-inline">bindCallback</pre> : Componente 
            <pre class="d-inline">test-rxjs03</pre> 
        </h5>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <app-test-rxjs03></app-test-rxjs03>
        </div>
    </div>
    <div class="text-info text-muted mt-3 text-info text-justify mt-5">
        <small>
            <ul>
                <li>
                    Este ejemplo muestra como <strong>envolver una funci&oacute;n as&iacute;ncrona</strong> dentro de otra que
                    devuelve observables
                </li>
                <li>
                    Con el uso de <i class="text-primary">bindCallback </i> <strong>se envuelve, en un proxy</strong>, una <strong>funci&oacute;n as&iacute;ncrona que devuelve
                    un n&uacute;mero aleatorio</strong>.
                </li>
                <li>
                    <strong>Se invoca a la funci&oacute;n por medio del proxy</strong>, que devuelve observables
                </li>
                <li>
                    Con <strong>cada click</strong> se crea <strong>una nueva suscripci&oacute;n</strong>. En ella <strong>se provee el callback</strong>
                    que espera la funci&oacute;n as&iacute;ncrona.
                </li>
                <li>
                    El callback agrega una insignia a la vista, conteniendo los resultados devueltos
                    por cada invocaci&oacute;n.
                </li>
                <li>
                    De acuerdo al valor del n&uacute;mero al momento del click es el tiempo de espera de
                    cada invocaci&oacute;n. Por ello, <strong>los resultados salenen un orden no secuencial</strong>  en
                    la mayor&iacute;a de los casos.
                </li>
            </ul>
        </small>
    </div>

    <hr class="my-4">
  </div>
  }

  @if(ejm_PipelineEnRxJs_on){
    <div class="row">
      <h5 class="text-primary">Pipeline en RxJs : Componente
          <pre class="d-inline">test-rxjs04</pre> 
      </h5>
  </div>
  <h6 class="mt-3">Uso de m&eacute;todo <i>pipe</i> y de operadores de <i>mapeo</i> y <i>filtrado</i> sobre eventos</h6>
  <div class="row justify-content-center mt-4">
      <div class="col-sm-10">
          <app-test-rxjs04></app-test-rxjs04>
      </div>
  </div>
  <div class="text-info text-muted mt-3 text-info text-justify mt-5">
      <small>
          <ul>
              <li>
                  Este ejemplo muestra como <strong>usar los operadores de RxJs</strong>.
              <li>
                  Se crea un <strong>observable sobre los clicks hechos en un &lt;div&gt;</strong> que a su vez contiene un elemento
                  &lt;span&gt; por cada mes.
              </li>
              <li>
                  <strong>Se crea una tuber&iacute;a de procesamiento (<i class="text-primary">pipe</i>)</strong> a partir del observable
              </li>
              <li>
                  La tuber&iacute;a:
                  <ol>
                      <li>Extrae el elemento html del evento con el operador <i class="text-primary">map</i></li>
                      <li>Filtra los elementos span con el operador <i class="text-primary">filter</i></li>
                      <li>Extrae de los spans el texto (que contiene el nombre de un mes), con el operador <i class="text-primary">map</i></li>
                      <li>Audita el mes con el operador <i class="text-primary">tap</i></li>
                      <li>Filtra los meses que correspondan con temporada baja, con el operador <i class="text-primary">filter</i></li>
                      <li>Genera un observable con el resultado final de la tuber&iacute;a</li>
                  </ol>
              </li>
              <li>
                  La suscripci&oacute;n sobre el observable anterior, actualiza el estado para que se despliegue 
                  un mensaje que informa sobre promociones en temporada baja.
              </li>
          </ul>
      </small>
  </div>

  <hr class="my-4">
  }
  @if(experimento_interval_on){
    <div class="mt-4 ">
      <app-ensay-interval></app-ensay-interval>
      <hr class="my-4">
    </div>
  }

  @if(ejm_MasFuncionesCreadorasEnRxJs_on){
    <div class="row">
        <h5 class="text-primary">M&aacute;s Funciones creadoras : Componente
            <pre class="d-inline text-dark">test-rxjs05</pre> 
        </h5>
    </div>
    <h6 class="mt-3">Funciones de creaci&oacute;n de observables de uso com&uacute;n</h6>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-12">
            <app-test-rxjs05></app-test-rxjs05>
        </div>
    </div>

    <hr class="my-4">
  }

  @if(ejm_OperadoresFiltradoFilteryMap_on){
    <div>
      <div class="row">
          <h5 class="text-primary">Operadores de filtrado : Componente
              <pre class="d-inline text-dark">test-rxjs06</pre> 
          </h5>
      </div>
      <div class="row justify-content-center mt-4">
          <div class="col-sm-12">
              <app-test-rxjs06></app-test-rxjs06>
          </div>
      </div>

      <hr class="my-4">
  </div>
  }

  @if(ejm_Ruteo_basico_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">CajaRuteo</h3>
      <p class="text-secondary"> Ejemplos de ruteo
      </p>
      <div class="mt-3 col px-1">
        <app-caja-ruteo></app-caja-ruteo>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_HttpClient_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">HttpClient</h3>
      <p class="text-secondary"> Ejemplos de invocacion de Web Apis y de manejo de errores
      </p>
      <div class="mt-3 col px-1">
        <app-contenedor-demo-http></app-contenedor-demo-http>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }
  </div>

