<div class="container">
  <h2 class="text-center my-4 text-primary">{{titulo}}</h2>

  @if(ejm_directiva_for_interpolacion_listaB5_on){
    <div class="row gx-5">
      <h3 class="text-success text-center">ListaB5</h3>
      <p class="text-secondary text-center">Ejemplo de uso de directivas for y de interpolación</p>
      <div class="mt-3 text-primary col bg-primary bg-opacity-10 p-2 rounded">
        <app-lista-b5></app-lista-b5>
      </div>
      <div class="mt-3 text-primary col bg-info  bg-opacity-10 p-2 ms-1 rounded">
        <app-lista-b5></app-lista-b5>
      </div>
      
      <div class="row my-3">
        <small class="text-muted">
            Ejemplo del uso del 
            <span class="font-italic fw-bold text-danger">interpolation binding</span>. 
            <ul>
              <li>
                Cada instancia del componente lee un arreglo declarado en su controlador y muestra sus valores 
                usando expresiones del tipo 
                <code class="fw-bold" ngNonBindable>{{ opciones[0] }}</code> y
                <code class="fw-bold" ngNonBindable>{{ opcionI }} </code> 
              </li>
              <li>
                Se usa la directiva de control 
                <code class="fw-bold">
                  &#64;for( opcionI of opciones2; track opcionI; let idx = $index, esPar = $even)
                </code>
              </li>
              <li>
                Se hace uso de diversas clases del 
                <span class="font-italic">framework </span>  
                <code>Bootstrap 5</code>.
              </li>
            </ul>
        </small>
      </div>

      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_for_estado_componente_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary">
        Hacer un componente que despliegue un grupo de cajas que cambien de color al recibir 
        un click. Debe evitarse que el click genere efectos adicionales sobre las cajas, como 
        activar la selección de texto.
      </p>
      <div class="mt-3 text-primary col bg-primary bg-opacity-10 p-2 rounded">
        <app-cajas-que-cambian-color></app-cajas-que-cambian-color>
      </div>
      <hr class="mt-3 mb-3">
    </div>   
  }

  @if(ejm_param_entrada_y_classBinding_seleccionador_on){
    <div class="row gx-5">
      <h3 class="text-success text-center">Seleccionador</h3>
      <p class="text-secondary"> Ejemplo de componente que recibe parámetros desde el componente que lo
        invoca. También muestra el uso de valores por defecto, en caso de que 
        sea invocado sin dar valores a sus parámetros.
      </p>
      <div class="mt-3 text-primary col bg-secondary  bg-opacity-10 p-2 ms-1 rounded
                 d-flex flex-column justify-content-center">
        <app-seleccionador paramNombre="taller" 
        paramEtiquetas="Cocina,Electricidad,Pintura,Artes Plasticas" 
        paramValores="C,E,P,AP"
        paramConBorde="true"
        paramMostrarValores="true"></app-seleccionador>
      </div>
      <div class="mt-3 text-primary col bg-info  bg-opacity-25 p-2 ms-1 rounded
        d-flex flex-column justify-content-center">
        <app-seleccionador></app-seleccionador>
      </div>
      <div class="mt-3 text-primary col bg-primary  bg-opacity-25 p-2 ms-1 rounded
        d-flex flex-column justify-content-center">
        <app-seleccionador  paramNombre="servicio" 
        paramEtiquetas="Desayunos,Comidas,Uniformes,Biblioteca,Sala Computo" 
        paramValores="D,C,U,B,SC"
        paramConBorde="true"
        paramMostrarValores="false"
        paramTipo ="checkbox"></app-seleccionador>
      </div>
      
      <div>
        <small class="text-muted">
          El componente permite personalizar:
          <ol>
            <li>
              Borde 
            </li>
            <li>
              El despliegue de valores de cada opci&oacute;n
            </li>
            <li>
              Si se desea usar radio botones o botones de tipo chekbox 
            </li>
            <li>
              El nombre del campo
            </li>
            <li>
              Los valores posibles a elegir
            </li>
          </ol> 
          Utiliza
          <span class="font-italic font-weight-bold text-danger">directivas estructurales</span>. 
          En este caso: <br>
          <ul>
            <li>
              <code class="font-weight-bold">&#64;for</code> (with index), 
            </li>
            <li>
              <code class="font-weight-bold">&#64;if</code> y 
            </li>
            <li>
              <code class="font-weight-bold">&#64;else</code>.
            </li>
          </ul>
          Se utiliza 
          <span class="font-italic font-weight-bold">class binding</span>
          para el dibujo condicional del borde.<br>
          En general, el componente explota el 
          <strong>renderizado condicional</strong> 
          con base en datos residentes en su controlador.
        </small>
        <hr class="mt-3 mb-3">
      </div>


    </div>
  }

  @if(ejr_params_carrusel_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Despliegue un par de instancias de un componente Carrusel,
        que implemente alguna implementación de Bootstrap. El componente debe poder recibir
        como parámetros la lista de nombres de archivos de imagen que se deplegarán con el 
        mecionado carrusel.
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-carrusel paramPrimeraImagen="1"></app-ejr-carrusel>
      </div>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-carrusel paramPrimeraImagen="2"
         paramImagenes="DSC_8857.JPG,DSC_8865.JPG,DSC_8867.JPG,DSC_8870.JPG,DSC_8876.JPG,DSC_9042.JPG">
        </app-ejr-carrusel>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_binding_bidireccional_ngModel_editorPersonas_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">EditorPersonas</h3>
      <p class="text-secondary"> Ejemplo de componente que implementa un binding
        bidireccional usando ngModel.
      </p>
      <div class="mt-3 text-primary col-12 col-sm-6 col-md-4 bg-secondary  bg-opacity-10 p-2 ms-1 rounded">
        <app-editor-personas></app-editor-personas>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_binding_bidireccional_CajaTxtContCarac_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Caja de texto que cuenta y limita la longitud de un mensaje. 
        Elabore 3 instancias en las que por medio de parámetros se pueda configurar el tamaño
        máximo de mensaje permitido. La caja debe mostrar la cantidad de caracteres capturados,
        el porcentaje del límite cubierto en negro, amarillo o rojo según se tenga una cantidad
        de caracteres por hast el 60% (negro), por arriba y hasta el 80% (amarillo) y por encima
        (rojo).
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-caja-txt-cont-carac paramLimiteMsg="256"></app-ejr-caja-txt-cont-carac>
      </div>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-caja-txt-cont-carac paramLimiteMsg="128"></app-ejr-caja-txt-cont-carac>
      </div>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-caja-txt-cont-carac></app-ejr-caja-txt-cont-carac>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_elStyleBindingYelEventoClick_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">SelecColor</h3>
      <p class="text-secondary"> Ejemplo de componente que integra ngModel, style binding, parámetros de entrada y
        manejo de eventos
      </p>
      <div class="mt-3 col-4 px-0">
        <app-selec-color numCajas="12"></app-selec-color>
      </div>
      <div class="mt-3 col-4 px-0">
        <app-selec-color numCajas="12"></app-selec-color>
      </div>
      <div class="mt-3 col-4 px-0">
        <app-selec-color numCajas="12"></app-selec-color>
      </div>
      <div class="mt-3 col-12 px-0">
        <app-selec-color numCajas="36"></app-selec-color>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_componentesQueDevuelvenValores_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">ContenedorSelectAlternativa/SelectAlternativa</h3>
      <p class="text-secondary"> Ejemplo de componente que devuelve los valores seleccionados a través de él
      </p>
      <div class="mt-3 col px-1">
        <app-contenedor-select-alternativa></app-contenedor-select-alternativa>
      </div>

      <div class="text-info text-muted mt-3 text-info text-justify">
        <small>
          <ul>
            <li>
              <strong>El componente de selecci&oacute;n recibe objetos</strong> que provienen del componente (usando el decorador  
              <code class="font-weight-bold">&#64;Input()</code>).
            </li>
            <li>
              El componente <strong>publica los cambios de valor</strong> por medio del uso de un objeto emisor de eventos
              <code class="font-weight-bold">EventEmitter&lt;string&gt;</code> y del decorador
              <code class="font-weight-bold">&#64;Output</code>.
            </li>
            <li>
              Tambi&eacute;n <strong>se escucha el evento </strong> 
              publicado por el componente. &Eacute;sto le permite recibir los valores devueltos por el componente
              (el seleccionador).
            </li>
          </ul>
        </small>
    </div>

      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_componentesQueDevuelvenVals_listbox_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Contenedor que anida un listbox
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-ejr-contenedor-list-box></app-ejr-contenedor-list-box>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_EnvioDeHtmlAcomponente_toggler_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">Toggler</h3>
      <p class="text-secondary"> Ejemplo de componente que recibe c&oacute;digo html como entrada
      </p>
      <div class="mt-3 col px-1">
        <app-toggler  etiquetaUno="Destinos" etiquetaDos="Instrucciones">
          <div uno>
            <span class="text-primary  fw-bold">Destinos disponibles:</span>
            <ol>
                <li>
                    Acapulco
                </li>
                <li>
                    Veracruz
                </li>
                <li>
                    Chiapas
                </li>
            </ol>
          </div>
          <div dos>
              <div class="text-warning fw-bold mb-2">C&oacute;mo obtener mayor informaci&oacute;n</div>
              Para explorar los destinos puede enviarnos un correo con el destino de inter&eacute;s 
              y sus preferencias en t&eacute;rminos de actividades o visitas y nosotros lo contactaremos 
              proporcion&aacute;ndole informaci&oacute;n detallada.
          </div>
        </app-toggler>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_EnvioDeHtmlAcomponente_acordeon_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio</h3>
      <p class="text-secondary"> Acorde&oacute;n: Componente que expande o contrae contenidos recibidos
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-acordeon pElementos="Elemento 1,Elemento 2,Elemento 3,Otro contenido"
                      pExpandir="true,false,false,false">
          <div uno> 
            <strong>This is the first item's accordion body.</strong> 
            It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.
          </div>
          <div dos> 
            <strong>This is the second item's accordion body.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div tres> 
            <strong>This is the third item's accordion body.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div cuatro> 
            <strong>Este es el cuarto item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                  
          </div>
        </app-acordeon>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejm_InyeccionDeElementosDOMdeVistaEnClase_on){
    <div class="row gx-5">
      <h3 class="text-success text-center mb-3">ContenedorDemoInyVista y Tarjeta</h3>
      <p class="text-secondary"> Ejemplo de inyecci&oacute;n de elementos DOM de la Vista, en el componente
      </p>
      <div class="mt-3 col px-1">
        <app-contenedor-demo-iny-vista></app-contenedor-demo-iny-vista>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }

  @if(ejr_EnvioDeHtmlAcomponente_acordeonAvz_on){
    <div class="row gx-5">
      <h3 class="text-danger text-center">Ejercicio Avanzado</h3>
      <p class="text-secondary"> Acorde&oacute;nAvz: Componente que expande o contrae una cantidad arbitraria de contenidos recibidos
      </p>
      <div class="mt-3 text-primary col p-2 ms-1">
        <app-acordeon-avz pElementos="Elemento 1,Elemento 2,Elemento 3,Otro contenido,texto A,texto B,texto C"
                      pExpandir="true,false,false,false,true,false">
          <div *PlantillaNg> <!-- El asterisco a la izquiera de la directiva de identificación de NgTemplate (PlantillaNg) es un atajo para no declarar explicitamente tags "ng-template"-->
            <strong>Este es el primer item del cuerpo del acordeón.</strong> 
            It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.
          </div>
          <div *PlantillaNg> 
            <strong>Este es el segundo item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div *PlantillaNg> 
            <strong>Este es el tercer item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                   
          </div>
          <div *PlantillaNg> 
            <strong>Este es el cuarto item del cuerpo del acordeón.</strong> 
            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. 
            These classes control the overall appearance, as well as the showing and hiding via CSS transitions. 
            You can modify any of this with custom CSS or overriding our default variables. 
            It's also worth noting that just about any HTML can go within the 
            <code>.accordion-body</code>
            , though the transition does limit overflow.                  
          </div>
          @for(textoI of textos;track k;let k=$index){
            <ng-template PlantillaNg>
              <div class="alert alert-warning" role="alert">
                {{textoI}}
              </div>
            </ng-template>
          }
        </app-acordeon-avz>
      </div>
      <hr class="mt-3 mb-3">
    </div>
  }
</div>

