<div class="bg-secondary bg-opacity-10 rounded-2 p-2">
    <nav>
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="suscripcion">Suscripci&oacute;n</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="adaptadores">Adaptadores</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="inv_asincrona">Invocaci&oacute;n As&iacute;ncrona</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="pendiente">Pendientes</a></li>
        </ul>
    </nav>
</div>
<div  class="row justify-content-center mt-4">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>
