.datoColor{
    width: 3.5rem;
}
.campoColor{
    width: 5.7rem;
}
#idCajaColor{
    height: 40px;
    border: 1px solid gainsboro;
}
#idCajaColores{
    border: 1px solid white;   
}
.bot-color{
    height:35px;
}
.bot-color:hover{
    border:2px solid white;
}
*{
    font-size: .75rem;
}