<div id="idCajaColor" class="my-2" [style.backgroundColor]="hsl()">
</div>
<div class="row justify-content-around">
    <div class="d-inline-block campoColor">
        <label for="idTono{{id}}" class="d-block mb-1">Tono:</label>
        <input type="number" max="359" min="0" id="idTono{{id}}" 
                class="form-control-sm text-center datoColor" [(ngModel)]="tono">
    </div>
    <div class="d-inline-block campoColor">
        <label for="idSaturacion{{id}}" class="d-block mb-1">Saturaci&oacute;n:</label>
        <input type="number" max="100" min="0" id="idSaturacion{{id}}" 
                class="form-control-sm text-center datoColor" [(ngModel)]="saturacion">%
    </div>
    <div class="d-inline-block campoColor">
        <label for="idLuz{{id}}" class="d-block mb-1">Iluminaci&oacute;n:</label>
        <input type="number" max="100" min="0" id="idLuz{{id}}" 
                class="form-control-sm text-center datoColor" [(ngModel)]="iluminacion">%
    </div>
</div>
<div class="mt-3" id="idCajaColores">
    @for(colorI of colores;track i;let i=$index){
        <div class="bot-color d-inline-block" 
            [style.width]="getAnchoBtnColor()" 
            [style.backgroundColor]="getColorHsl(colorI)" 
            (click)="resetColor(colorI)">
        </div>
    }
</div>
