<div>
    <div class="row p-2 m-1">
        <div class="col text-primary fw-bold">
            Demo de los <i>operadores RxJS </i> <code>map</code> y <code>filter</code>.
        </div>
    </div>
        
    <div class="row mb-4">
        <div class=" col">
            <label for="idTexto" class="form-label">Texto:</label>
            <input type="text" class="form-control" name="texto" id="idTexto" >
        </div>
    </div>

    <div class="row bg-primary bg-opacity-25 p-2 m-1">
        <div class="col-12 text-primary">
            Mapeo de <code>Event</code> a <code>HTMLInputElement</code> y luego a
            valores tipo <code>string</code>:
        </div>
        <div class="col">
            {{ valores }}
        </div>
    </div>
    
    <div class="row p-2 mx-1 mt-3 bg-info bg-opacity-25 rounded-lg">
        <div class="fw-bold col-12 mb-2">
            Instrucciones:
        </div>
        <div class="text-muted col-12">
            Introduzca texto y pruebe a capturar espacios al inicio, n&uacute;meros o caracteres
            especiales.
        </div>
    </div>
</div>
